<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EAG Watson Assistant Lab</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
<link rel='stylesheet' href='/stylesheets/styles.css' /> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>

  </head>
  <body onLoad="init()"> 
    <div class="container" style="text-align: center"><body class="container">
      <div class="row"><div class="col-md-12"><p><h2>IBM EAG Watson Assistant Lab</h2></p></div></div>